/* 
    Document   : usc
    Created on : Nov 10, 2011, 4:32:02 PM
    Author     : dannyjoris
    Description:
        Purpose of the stylesheet follows.
*/

body
{
  font-family: verdana, helvetica, arial, sans-serif;
  font-size: 12px;
}

a,
a:link
{
  color: #660000;
  color: rgba(102, 0, 0, 1);
}

h1,
h2,
h3,
h4,
h5,
h6
{
  font-family: helvetica, arial, sans-serif;  
}

h1
{
  
}

h2
{
  font-size: 25px;
  font-weight: bold;
}

h3
{
  
}

h4
{

}

h5
{
  
}

h6
{
  
}




table
{
  width: 100%;
}

table tr
{
  
}

table tr th,
table tr td
{
  padding: 7px;
}

table tr td
{
/*   vertical-align: top; */
}






/* general structure */

.sidebar-first #content
{
  margin-left: 0px;
  margin-right: 0px;
  width: 780px;
  margin-top: 20px;
}

.with-navigation #content,
.with-navigation .region-sidebar-first,
.with-navigation .region-sidebar-second
{
  margin-top: 3.5em;
}


.region-sidebar-first
{
/*  margin-right: -180px;*/
  margin-right: 0px;
  width: 180px;
}

#sidebar-first-wrap
{
  float: left;
  width: 180px;
  
}

#header
{
  float: right;
  width: 780px;
}

#main-wrapper
{
  float: left;
}

#navigation-wrapper
{
  float: left;
  margin-top: 10px;
/*   min-height: 20px; */
  width: 780px;
  
}

#footer
{
  float: left;
  width: 100%;
}




#skip-link,
#page
{
  padding: 10px 0px 0px 0px;

  font-size: 12px;
  line-height: 18px;
}


/* Header */


#site-name a,
#site-name a:link,
#site-name a:visited
{
  float: right;
/*   width: 960px; */
  
  text-align: right;
  font-size: 45px;
  line-height: 60px;
  font-weight: bold;
  color: #660000;
  color: rgba(102, 0, 0, 1);

  font-family: helvetica, arial, sans-serif;  
}

#site-name a:hover
{
  text-decoration: none;
}

#site-slogan
{
  float: right;
/*   width: 960px; */
  
  text-align: right;
  font-size: 40px;
  font-weight: 200;
  color: #7f7f7f;
  color: rgba(127, 127, 127, 1);

  font-family: helvetica, arial, sans-serif;
}




/* Tabs */

 
ul.primary li a
{
  padding: 0 0 0 5px !important; /* width of tab-left.png */
}

ul.secondary a
{
  padding: 0 !important;
}





/* Sidebar first */

.region-sidebar-first
{
  
}

.region-sidebar-first .block
{
  margin: 15px 0px;
}

.region-sidebar-first .block h2.title
{
  color: #660000;
  color: rgba(102, 0, 0, 1);
  font-size: 17px;
  font-weight: normal;
}

.region-sidebar-first .block ul li a,
.region-sidebar-first .block ul li a:link,
.region-sidebar-first .block ul li a:visited
{
  color: #7f7f7f;
  color: rgba(127, 127, 127, 1);
  text-decoration: none;
}

.region-sidebar-first .block ul li a:hover
{
  text-decoration: underline;
}

.region-sidebar-first .block ul
{
  padding: 0px 0px 0px 10px;
  margin: 10px 0px 10px 5px;
  border-width: 0px 0px 0px 1px;
  border-style: solid;
  border-color: #660000;
  border-color: rgba(102, 0, 0, 1);
  
  list-style: none;
  list-style-image: none;
}

.region-sidebar-first .block ul li
{
  list-style: none;
  list-style-image: none;
}



/* Content top blocks */

.region-content-top .block
{
  float: left;
  width: 740px;
}




/* Featured content Block + Page */

#block-views-featured_content-block_1
{
  background: #eee;
  padding: 10px 20px 10px 20px;
  

}

.view-id-featured_content
{

}

.view-id-featured_content .view-content
{
  float: left;
  width: 740px;
  margin: 0px 0px 10px 0px;
}


.view-id-featured_content .views-field-field-image-fid
{
  float: left;
  width: 370px;
}

.view-id-featured_content .views-field-title-1,
.view-id-featured_content .views-field-field-description-value,
.view-id-featured_content .views-field-field-collection-url-url,
.view-id-featured_content .views-field-nothing
{
  float: right;
  width: 360px;
}

.views-field-nothing .view-title,
.views-field-nothing .view-description,
.views-field-nothing .view-collection,
.views-field-nothing .views-field-nothing-1
{
  float: left;
  margin: 0px 0px 5px 0px;
}

.views-field-nothing .view-collection
{
  width: auto;
  float: left;
}
.views-field-nothing .view-all
{
  width: auto;
  float: left;
}

.views-field-nothing .view-separator
{
  width: auto;
  float: left;
  margin: 0px 7px;
}

.view-id-featured_content ul.pager 
{
  margin: 0px 0px 0px 0px;
}



.view-id-featured_content.view-display-id-page_1 .views-row
{
  float: left;
  width: 100%;
  margin: 0px 0px 20px 0px;

  background: #eee;
  padding: 20px;
}

.view-id-featured_content.view-display-id-page_1 .view-header
{
  margin: 5px 0px;
}

.view-id-featured_content.view-display-id-page_1 .view-content
{
  margin: 0px 0px 20px 0px;
}

.view-id-featured_content .item-list
{

}



/* Object page */

.section-fedora .usc-mirc-metadata
{
  margin: 1em 0 1em 10px;
  width: 258px;
}

